<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College</title>
</head>

<body>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
            <li><a href="#">College</a></li>
            <li><a href="{% url 'list' %}">View Student</a></li>
            <li><a href="{% url 'add' %}">Add Student</a></li>
            <li><a href="{% url 'post_add' %}">POST Add Student</a></li>
            <li><a href="/admin">Admin</a></li>
            <li><a href="{% url 'blog_list' %}">Blogs</a></li>
            <li><a href="{% url 'blog_add' %}">ADD Blogs</a></li>


        </ul>
    </nav>

    {% block content %}{% endblock content %}

</body>

</html>