<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'web:home' %}">Blog</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                {% if user.is_authenticated %}


                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'web:home' %}" title="HOME">HOME</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'web:about' %}" title="ABOUT">ABOUT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'web:contact' %}"
                        title="CONTACT">CONTACT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/admin/" title="ADMIN"
                        target="_blank">ADMIN</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'web:blog' %}" title="BLOG">BLOG</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'web:logout' %}"
                        title="LOGOUT">LOGOUT</a>
                </li>

                {% else %}

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'web:login' %}" title="LOGIN">LOGIN</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'web:register' %}"
                        title="REGISTER">REGISTER</a>
                </li>

                {% endif %}

            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline--bs-dark-bg-subtle" type="submit" title="SEARCH">Search</button>
            </form>
        </div>
    </div>
</nav>