<!-- Heading Part 

    <div class="navbar-fixed">-->

<!-- Nav -->
<nav>
    <div class="nav-wrapper red">
        <a href="#" class="brand-logo"><img height="70px" src="./image/bg_logo.png" alt="Blog-logo"></a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="index.html" title="Home">Home</a></li>
            <li><a href="about.html" title="About">About</a></li>
            <li><a href="contact.html" title="Contact">Contact</a></li>
            <li><a href="travel.html" title="Travel">Travel</a></li>
            <li><a href="eat.html" title="Eat">Eat</a></li>
            <li><a href="relax.html" title="Relax">Relax</a></li>
            <li><a href="videos.html" title="Videos">Videos</a></li>
            <li><a href="search.html" title="Search"><i class="material-icons">search</i></a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a href="index.html">Home</a></li>
    <li><a href="about.html">About</a></li>
    <li><a href="contact.html">Contact</a></li>
    <li><a href="travel.html">Travel</a></li>
    <li><a href="eat.html">Eat</a></li>
    <li><a href="relax.html">Relax</a></li>
    <li><a href="videos.html">Videos</a></li>
    <li><a href="#"><i class="material-icons">search</i></a></li>
</ul>
<!-- End of Nav -->